<div cdkDropListGroup>
    <div class="example-container">
      <h2>To do</h2>
      <table cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)">
        <thead>
          <tr>
            <th>Task</th>
            <th>Details</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of todo; let i = index" cdkDrag>
            <td>{{item.name}}</td>
            <td>{{item.details}}</td>
            <td><button (click)="removeFromTodoList(i)">Remove</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div class="example-container">
      <h2>Done</h2>
      <table cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
        <thead>
          <tr>
            <th>Task</th>
            <th>Details</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of done; let i = index" cdkDrag>
            <td>{{item.name}}</td>
            <td>{{item.details}}</td>
            <td><button (click)="removeFromDoneList(i)">Remove</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  